extends layouts/main.pug
block content
    .form-container
        form(action=routes.join, method='post')
            input(type='text' name='name' placeholder='your name' required=true)
            input(type='email' name='email' placeholder='your email' required=true)
            input(type='password' name='password' placeholder='your password' required=true)
            input(type='password' name='password2' placeholder='check again' required=true)
            input(type='submit' value='Join Now!')
        include ./partials/socal-login.pug

